################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Hungaria-Trafik/.vs/Hungaria-Trafik/FileContentIndex/47abab60-1aff-4906-b2cd-acc6fd11fd1c.vsidx
/Hungaria-Trafik/.vs/Hungaria-Trafik
/Hungaria-Trafik/Hungaria-Trafik/obj/project.nuget.cache
/Hungaria-Trafik/Hungaria-Trafik/obj/project.assets.json
/Hungaria-Trafik/Hungaria-Trafik/obj/Hungaria-Trafik.csproj.nuget.g.props
/Hungaria-Trafik/Hungaria-Trafik/obj/Hungaria-Trafik.csproj.nuget.dgspec.json
